body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #671818;
    background-color: rgb(190, 154, 229);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 500px;
  }
  
  h1 {
    text-align: center;
    color: #000000;
    margin-right: 200px;
  }
  .logout-button {
    background-color: #df0000; 
    color: #fff;  
    margin-left: 800px;
  }
  
  .logout-button:hover {
    background-color: #000000; 
  }
  